@import 'base/reset';
@import 'base/variables.scss';
@import 'base/mixins.scss';
@import 'base/typography';

@import 'components/container';

body {
    background: $beige;
}

.top-actions {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
    }

    .top-logo {
        // I used px units cause I think this should be an image.
        height: 32px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $grey;
        border-radius: 5px;
    }

    .top-menu {    
        display: none;
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 0.75rem 1rem;
                border-radius: 5px;

                &.active {
                    background: $primary;
                    color: white;
                }
            }
        }
    }

    button {
        svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: currentColor;
        }
    }
    @include small-breakpoint {
        .top-menu {
            display: block;
        }
        button {
            display: none;
        }
    }
    @include medium-breakpoint {
        .container {
            padding: 1rem 2rem;
        }
    }
}

.main {
    .container {
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

        h1 {
            font-weight: 400;
            margin: 0;
            padding: 1.5rem;
            background: white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }
}

.featured-book {
    position: relative;
    background: $beige;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    .recommended {
        position: absolute;
        right: 0;
        top: 0;
        background: $primary;
        color: white;
        padding: 0.5rem;
        border-bottom-left-radius: 10px;
    }

    img {
        max-height: 300px;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }

    .book-info {
       margin-left: 1rem; 
    }

    h2 {
        margin: 1rem 0 0.25rem;
    }

    @include medium-breakpoint {
        flex-direction: row;
        img {
            max-height: 500px;
        }
        h2 {
            margin: 0 0 0.25rem;
        }
    }
}

.top-voted {
    background: white;
    padding: 1.5rem;

    .books-list {
        display: flex;
        flex-direction: column;

        .book {
            position: relative;
            background: $beige;
            padding: 1rem;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            
            .position {
                position: absolute;
                right: 10px;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $yellow;
                font-size: 1.25rem;
                font-weight: 500;
                border-radius: 100%;
                border: 2px solid $yellow;
            }
            
            img {
                display: block;
                margin: 0 auto;
                max-height: 200px;
                border-radius: 10px;
                box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
            }
            
            h3 {
                font-size: 1rem;
                margin-bottom: 0.25em;
            }
        }
        
        @include large-breakpoint {
            flex-direction: row;
            
            .book {
                width: 33%;
                &:not(:nth-child(3n + 1)) {
                    margin-left: 1rem;
                }
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black;
    color: white;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    li {
        padding: 1rem 1rem;
    }
    @include small-breakpoint {
        li {
            padding: 1rem 2rem;
        }
    }
}
